<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventosApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>678C09A71C79B75800A8C7DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>678C09C31C79B75800A8C7DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>678C09CE1C79B75800A8C7DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
